/* src/components/Cart.css */
.cart-page {
    padding: 20px;
  }
  
  .cart-page h1 {
    margin-bottom: 20px;
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .cart-table th, .cart-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .cart-table th {
    background-color: #f9f9f9;
    font-weight: normal;
  }
  
  .cart-item {
    vertical-align: middle;
  }
  
  .cart-item-description {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .cart-item-description img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .cart-item-description div {
    /* display: flex; */
    flex-direction: column;
  }
  
  .cart-item-description h2 {
    margin: 0;
    font-size: 1rem;
  }
  
  .cart-item-description p {
    margin: 5px 0 0;
    color: #888;
  }
  
  .cart-item-quantity {
    /* display: flex; */
    align-items: center;
    gap: 10px;
  }
  
  .cart-item-quantity button {
    padding: 5px 2px;
    margin: 5px;
    color: aliceblue;
    border: 1px solid #333;
    background-color: #333;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    width: 50px;
  }
  .cart-item-quantity button :hover{
    background-color: #575757;
  }
  
  .cart-item-quantity span {
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .remove-item-btn {
    padding: 5px 15px;
    margin-left: 2px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .cart-item-price {
    font-size: 25px;
  }
  
  .cart-total {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
  }
  
  .cart-total p {
    font-size: 1.5rem;
    font-weight: bold;
  }
  